body{
    font-family: 'Poppins', sans-serif;
}
.course-overview{
    margin-right: 60px;

}
.overview-text{
    margin-right: 30px;
    
}
.course-text{
    text-align:left ;
    padding: 70px ;
}
.site-logo{
    font-size: 30px;
}

